body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
p {
  margin: 0px;
}
img {
  max-width: 100%;
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}

.header-bg {
  background-color: #000000;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.header-menu a {
  text-decoration: none;
  color: white;
  padding: 16px 0px;
  display: inline-block;
  font-size: 18px;
  position: relative;
}

/* Criando detalhe que aparece em baixo do link ao passar o mouse */
.header-menu a:after {
  content: "";
  background: white;
  transition: 0.3s;

  /* assim digo que ele inicia com 0 de largura */
  width: 0px;
  height: 2px;
  display: block;
  margin-top: 4px;

  position: absolute;
  /* retirar do fluxo para que ele não atrapalhe a formatação */
}
.header-menu a:hover::after {
  width: 100%;
  /* assim ele vai esticar ate o tamnho do elemento do pai, no caso o texto do a */
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  max-width: 1200px;
  /* Assim o menu não se expande para sempre fica mais centralizado, ajuda da responsividade*/
  margin: 0 auto;
}
.header-menu-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

@media (max-width: 800px) {
  .header-menu a:hover {
    background-color: #282828;
  }
  .header-menu a {
    background-color: #111111;
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header-menu {
    gap: 20px;
  }
  .header-menu a:after {
    display: none;
  }
}
@media (max-width: 600px) {
  .header-menu a {
    padding: 8px 12px;
  }
  .header-menu {
    gap: 12px;
    font-size: 14px;
  }
  .header {
    justify-content: center;
  }
}

.main-bg {
  background-color: #000000;
  /* Usando box shadow para criar efeito de transbordar img */
  box-shadow: inset 0px -120px white;
}

.introducao {
  color: white;
  gap: 0px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;

  margin: 0 auto;
}
.introducao-conteudo {
  align-self: flex-end;
  padding-bottom: 200px;
}

.introducao h1 {
  margin-bottom: 32px;
  font-size: 64px;
  line-height: 1.125;
}
.introducao p {
  color: #b2b2b2;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.5;
}
.introducao-ponto {
  color: #ffbb00;
}

.introducao a {
  padding: 16px 32px;
  background-color: #ffbb00;
  display: inline-block;
  background: linear-gradient(#ffbb00, #f2a50c);
  color: #000000;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.1);
  color: #332200;
  font-size: 18px;
  line-height: 1.33;
  font-weight: bold;
  text-transform: uppercase;
}

.introducao a:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

.introducao img {
  /* Assim a img vai transbordar */
  height: 100%;
  /* Quando tela pequna corta foca a img no centro */
  object-fit: cover;
}

@media (max-width: 800px) {
  .main-bg {
    background-color: #111111;
    box-shadow: inset 0 -60px #ffffff;
  }
  .introducao h1 {
    font-size: 38px;
    margin-bottom: 16px;
  }
  .introducao p {
    font-size: 18px;
  }
  .introducao-conteudo {
    padding-bottom: 0px;
  }
  .introducao a {
    padding: 12px 16px;
    font-size: 16px;
  }
  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
    padding: 40px 20px 0px 20px;
  }
  .introducao-img img {
    width: 100%;
    height: 300px;
  }
}
